---
layout: home
excerpt: "Roxana Zeraati personal webpage."
author_profile: true
---

<p align="justify">
I am a Postdoc with Peter Dayan at the Max Planck Institute for Biological Cybernetics. I started my academic journey as a double-major bachelor student of physics and biomedical engineering and then moved to neuroscience for my master and PhD at the University of Tuebingen. 
</p>
<p align ="justify">
 My research lies at the intersection of systems and computational neuroscience. I am generally interested in understanding how animals adaptively learn to modify their behavior according to environmental demands and its underlying biological machinery. For this purpose, I develop data analysis methods and computational models to link neural dynamics to brain computation and behavior.
</p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "Recent news" }}</h3>


{% for post in site.data.news limit:3 %}
{% include news-single.html %}
{% endfor %}
