---
layout: home
excerpt: "Roxana Zeraati personal webpage."
author_profile: true
---

<p align="justify">
    I am an incoming Minerva Fast Track Group Leader at the Max Planck Institute for Biological Cybernetics.  
    My research focuses on understanding how animals learn the dynamics of their environments across different timescales and adapt their decisions accordingly. 
    To address this, we study foraging behavior as a window into ethologically relevant decision processes. 
    Specifically, we conduct systematic cross-species studies of foraging and develop data-driven, species-specific models to investigate 
    (1) what decision strategies different animals use, 
    (2) how these multi-timescale decisions arise from underlying neural circuits, 
    and (3) relate to the spatiotemporal structure of their unique ecological niche, as well as their sensory-motor constraints. 
</p>
<p align ="justify">
    I began my academic journey as a double-major bachelor's student of physics and biomedical engineering (Amirkabir University of Technology, 2006-2011) 
    and then transitioned to neuroscience for my master's (University of Tübingen, IMPRS CSN, 2016-2018) and PhD (University of Tübingen, IMPRS MMFD, 2019-2025). 
    During my PhD, co-supervised by Prof. Anna Levina (University of Tübingen) and Prof. Tatiana Engel (Princeton University), we studied how diverse timescales of neural dynamics support adaptive behavior and computation in the mammalian brain and in artificial neural networks. 
    In my postdoc (2024-2026), supervised by Prof. Peter Dayan, I expanded my research in a new direction by investigating how neural and behavioral timescales emerge and relate to environmental dynamics, focusing on their interplay during foraging. 
    Using reinforcement learning models and theory-driven foraging experiments in collaboration with Dr. Cindy Poo’s team at the Allen Institute, we have shown that optimal foraging decisions depend on environmental dynamics, defined not only by depletion but also by replenishment timescales. 
</p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "Recent news" }}</h3>


{% for post in site.data.news limit:3 %}
{% include news-single.html %}
{% endfor %}
